.button {
    background-color: #343a40;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px 10px;
    line-height: 40px;
    border-radius: 15px;

}

body {
    background-color: #ced4da;
    font-family: monospace;
}

.arredondando {
    border-radius: 150px;
}

.decoration-nome {
    font-weight: bold;
    text-decoration: none;
    color: #1f8140;
}