@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

.btnHeader {
  color: white;
  background-image: linear-gradient(to right, #38b2ac, #3b82f6, #93c5fd);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 0.3s;
  outline: none;
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  text-align: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.btnHeader:hover {
  background-image: radial-gradient(circle at bottom right, #93c5fd, #3b82f6);
}

.btnHeader:focus {
  box-shadow: 0 0 0 2px rgba(100, 179, 250, 0.5);
  outline-offset: 2px;
}

.btnHeader.dark:focus {
  box-shadow: 0 0 0 2px rgba(8, 82, 147, 0.5);
}

.teste {
  /* font-size: 50px; */
  font-family: 'Anonymous Pro';
}
